@use './colors';


@mixin headerBorder {
    content: "";
    width: 200%;
    position: absolute;
    top: 100%;
    height: 0.25rem;
    left: -50%;
    background: colors.$light-orange;
}


@mixin positions($top, $left){
    top: $top;
    left: $left;
}

@mixin buttonHover($radius) {
    a {
        color: inherit;
        display: inline-block;
        background: transparent;
        transition: 250ms ease-in-out;
        border-radius: $radius;
        position: relative;


        &::before{
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: darken(colors.$light-orange, $amount: 10%);
        border-radius: $radius;
        z-index: -1;
        transition: transform 250ms;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
        transform: scaleX(0);
    }

    &:hover::before {
        transform: scaleX(1);
    }
    &:hover {
        z-index: 2;
        color: #fff;
        border-color: darken(colors.$light-orange, $amount: 10%);
    }
    }
}