@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Rubik:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

$headers: 'Karla', sans-serif;
$para: 'Rubik', sans-serif;

$fancy-font: 'Dancing Script', cursive;

$font-weight: 600;

//font-family: 'Karla', sans-serif;
//font-family: 'Rubik', sans-serif;
